@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&display=swap');

.feed {
    margin-top: 50px;
    height: 100%;
    position: relative;
    display: block;
    z-index: 2;
    padding: 10px 30px;
    margin-left: 250px;
}

.feed h1 {
    font-size: 22px;
}

.feed h2 {
    font-size: 20px;
}

.feed p {
    font-size: 16px;
}

.postBox {
    display: inline-flex;
    flex-direction: column;
    background-color: #242424;
    padding: 20px;
    margin-top: 20px;
    transition: background-color .4s;
    width: 100%;
}

.postBox:hover {
    background-color: #ac5c02;
}

.postBox img {
    position: relative;
    float: left;
    margin-right: 20px;
}

.postNome a {
    text-decoration: none;
    color: white;
    font-size: 22px;
}

.postNome a:hover {
    color: #242424;
    font-weight: bolder;
    text-decoration: underline;
}


/* Comentários dos posts */

.commentsHeader, .newCommentHeader {
    border-top: 2px solid #ac5c02;
}

.postBox:hover .commentsHeader,
.postBox:hover .newCommentHeader {
    border-top: 2px solid #242424;
}

/* Dropdown com as informações do usuário expandidas */

.dropdownUser {
    display: none;
    position: absolute;
    background-color: #242424;
    width: 500px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.4);
    z-index: 1;
    text-align: left;
    padding: 10px;
  }
  
  .dropdown:hover .dropdownUser {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

.dropdownUser h1 {
    text-align: center;
    margin-top: 0;
    color: #c06600;
}

.dropdownUser p {
    font-size: 22px;
}


/* Ajuste responsivo para telas menores */

@media screen and (max-width: 700px) {
    .feed {
        width: 100%;
        height: auto;
        position: relative;
        margin-left: 0px;
        word-wrap: break-word;
    }

    .postTitulo {
        width: 100%;
        height: auto;
        position: relative;
        margin-left: 0px;
    }

    .postNome {
        width: 100%;
        height: auto;
        position: relative;
        margin-left: 0px;
    } 
  }