.addPost {
  margin-top: 50px;
  height: 100%;
  position: relative;
  display: block;
  z-index: 2;
  padding: 10px 30px;
  margin-left: 250px;
}

.addPost h1 {
  font-size: 22px;
}

.addPost h2 {
  font-size: 20px;
}

.addPost p {
  font-size: 16px;
}

.addPost img {
  margin-right: 5px;
}

.addPostBox {
  display: inline-flex;
  flex-direction: column;
  background-color: #242424;
  padding: 20px;
  margin-top: 20px;
  transition: background-color .4s;
  width: 100%;
}

.addPostBox:hover {
  background-color: #ac5c02;
}

.newPostForm input,
textarea {
  padding: 12px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  resize: vertical;
}

.newPostForm input:focus,
textarea:focus {
  outline-color: #242424;
  outline-style: solid;
  outline-width: 1px;
}

.newPostForm textarea {
  height: 80px;
  text-align: start;
  resize: none;
}

.newPostForm label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

.newPostForm button {
  padding: 15px;
  border: none;
  font-size: 20px;
  background-color: #d48831;
  color: white;
  transition: background-color .4s;
  cursor: pointer;
  font-family: 'Ubuntu', sans-serif;
  float: right;
  margin-top: 6px;
}

.newPostForm button:hover {
  background-color: #242424;
}

.col-15 {
  float: left;
  width: 15%;
  margin-top: 6px;
}

.col-85 {
  float: left;
  width: 85%;
  margin-top: 6px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Novos Posts */

.postBox {
  display: inline-flex;
  flex-direction: column;
  background-color: #242424;
  padding: 20px;
  margin-top: 20px;
  transition: background-color .4s;
  width: 100%;
}

.postBox p {
  flex: 1;
  flex-wrap: wrap;
}

.postBox:hover {
  background-color: #ac5c02;
}

.postNome a {
  text-decoration: none;
  color: white;
  font-size: 22px;
}

.postNome a:hover {
  color: #242424;
  font-weight: bolder;
  text-decoration: underline;
}

.deleteBtn {
  padding: 15px;
  border: none;
  font-size: 20px;
  background-color: #d48831;
  color: white;
  transition: background-color .4s;
  cursor: pointer;
  float: right;
}

.deleteBtn:hover {
  background-color: #242424;
}

/* Comentários dos posts */

.commentsHeader {
  border-top: 2px solid #ac5c02;
}

.postBox:hover .commentsHeader {
  border-top: 2px solid #242424;
}

@media screen and (max-width: 700px) {

  .addPost,
  .col-15,
  .col-85,
  button {
    width: 100%;
    height: auto;
    margin-top: 0;
    position: relative;
    word-wrap: break-word;
  }
}